/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .main {
        flex-direction: column;
    }
    .sidebar {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 14vh;
        width: 100vw;
        background-color: #d1ecd1;
        align-items: center;
        z-index: 999;
    }
    .main .sidebar img {
        width: 17vw;
        margin: 2vh 70vw 0 0;
    }
    .main .sidebar ul {
        display: none;
    }
    .burger-mnu {
        display: flex;
    }
    .mainbar {
        width: 100%;
        align-items: center;
    }
    .mainbar>* {
        position: absolute;
        top: 17vh;
        z-index: 1;
    }
    .mainbar .home-first-title {
        position: absolute;
        font-size: 7vw;
        right: 9vw;
        color: black;
        background-color: #d1ecd1;
        padding: 20px;
        height: 20vh;
    }
    .mainbar .home-second-title {
        top: 40vh;
        height: 30%;
    }
    .mainbar .home-second-title h1 {
        font-size: 10vw;
        color: #000;
        background-color: #d1ecd1;
        width: 27vw;
        margin: 0;
        padding: 10vh 3vw 15vh 4vw;
    }
    .main .mainbar .about-navbar {
        top: 17vh;
        font-size: 2em;
    }
    .main .mainbar .about-me-text {
        top: 33vh;
        font-size: 2em;
        width: 80%;
        line-height: 3em;
    }
    .main .mainbar .about-me-text p {
        line-height: 50px;
    }
    .main .mainbar .hobbies-data {
        top: 33vh;
        width: 90%;
    }
    .hobbies-data .hobbie-item {
        align-items: center;
        width: 186px;
    }
    .hobbies-data .hobbie-item p {
        text-align: center;
    }
    .mb-title {
        position: relative;
        top: 15vh;
        height: 7%;
        font-size: 3em;
    }
    .mb-title h1#picture-title {
        font-size: 1em;
        margin: 0;
    }
    .mb-info {
        position: relative;
        width: 100vw;
        height: 56%;
    }
    .mb-info img {
        height: 50vh;
    }
    .mb-desc {
        position: relative;
        height: 15%;
    }
    .mb-desc p {
        font-size: 2em;
        letter-spacing: 2px;
    }
    .mb-desc p#picDescription {
        font-size: 1.7em;
    }
    .mb-desc p#picDescription>p:last-child {
        margin: 0;
        font-size: 1em;
    }
    .mb-desc p#picDescription>p:first-child {
        margin-top: 1vh;
        font-size: 1em;
        margin: 0;
    }
    .my-skills {
        width: 64vw;
        top: 26vh;
    }
    .my-skills li {
        font-size: 2em;
    }
    .soft-skls {
        width: 83vw;
    }
    .mainbar-contacts ul li {
        font-size: 3em;
    }
    .mainbar-contacts img {
        width: 5vw;
    }
    .mainbar-contacts .contact-links {
        top: 38vh;
    }
    .contact-icon {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 992px) {
    #techSkillsButton {
        margin-bottom: 3px;
    }
    #softSkillsButton {
        margin-bottom: 3px;
    }
    .main .mainbar .skills-navbar {
        top: 22vh;
        width: 90vw;
        justify-content: space-around;
    }
    .main .mainbar .skills-navbar h1 {
        font-size: 1.2em;
    }
    .main {
        flex-direction: column;
    }
    .sidebar {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 14vh;
        width: 100vw;
        background-color: #d1ecd1;
        align-items: center;
    }
    .main .sidebar img {
        width: 17vw;
        margin: 2vh 70vw 0 0;
    }
    .main .sidebar ul {
        display: none;
    }
    .burger-mnu {
        display: flex;
    }
    .mb-title {
        font-size: 1em;
        height: 0;
    }
    .mb-title h1 {
        margin: 0;
    }
    .mainbar .mb-desc {
        height: 15%;
    }
    .mb-desc p {
        line-height: 20px;
        margin-top: 10vh;
    }
    .mb-desc p#picDescription>p:last-child {
        margin: 0;
    }
    .mb-desc p#picDescription>p:first-child {
        margin-top: 1vh;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .mb-desc p {
        margin: 2vh 0 0 0;
        font-size: 1.5em;
        line-height: 30px;
    }
    .mb-desc {
        height: 10vh;
        position: absolute;
        top: 81vh;
    }
    .mb-title h1#picture-title {
        font-size: 1.5em;
    }
    .mb-title {
        top: 18vh;
    }
    .mb-info {
        top: 21vh;
    }
    .mb-desc p#picDescription {
        font-size: 1.5em;
    }
    .mainbar-contacts ul li {
        font-size: 2em;
    }
    .mainbar-contacts img {
        width: 5vw;
    }
    .mainbar-contacts .contact-links {
        top: 28vh;
    }
    .contact-icon {
        margin-right: 50px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .sidebar {
        height: 11vh;
    }
    .burger-mnu span {
        height: 1px;
        width: 50px;
        background-color: black;
        margin-top: 1vh;
    }
    .burger-mnu span:first-child {
        height: 4px;
        width: 50px;
    }
    .burger-mnu span:last-child {
        height: 4px;
        width: 50px;
    }
    .closeBurger span {
        width: 60px;
        height: 3px;
    }
    .closeBurger {
        bottom: 8vh;
    }
    .mb-desc p#picDescription {
        font-size: 1em;
        line-height: 23px;
    }
    .mb-desc {
        top: 74vh;
    }
    .mb-desc p p {
        line-height: 23px;
    }
    .mb-info {
        height: 45%;
    }
    .mb-info img {
        height: 40vh;
    }
    .main .mainbar .about-navbar {
        font-size: 1em;
        height: 10vh;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .main .mainbar .about-navbar h1:last-child {
        margin-bottom: 3px;
    }
    .main .mainbar .about-me-text p {
        margin-top: 0;
        line-height: 35px;
    }
    .main .mainbar .about-me-text {
        line-height: 1em;
        font-size: 1em;
    }
    .main .mainbar .about-me-text {
        top: 30vh;
    }
    .hobbies-data .hobbie-item {
        width: 166px;
    }
    .my-skills ul li {
        font-size: 1em;
    }
    .main .mainbar .skills-navbar {
        top: 15vh;
    }
    .my-skills {
        width: 90vw;
    }
    .my-skills span {
        width: 0;
        height: 0;
    }
    .mainbar-contacts ul li {
        font-size: 1.1em;
    }
    .mainbar-contacts img {
        width: 5vw;
    }
    .mainbar-contacts .contact-links {
        top: 38vh;
    }
    .contact-icon {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .mainbar .hobbies-data .hobbie-item {
        width: 140px !important;
    }
    .mb-desc p#picDescription {
        font-size: 0.9em;
        line-height: 15px;
    }
    .mb-desc p#picDescription p {
        font-size: 0.9em;
        line-height: 17px;
    }

    .mainbar-contacts ul li {
        font-size: 0.8em;
    }
    .mainbar-contacts img {
        width: 5vw;
    }
    .mainbar-contacts .contact-links {
        top: 38vh;
    }
    .contact-icon {
        margin-right: 10px;
    }
}