/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .main {
        flex-direction: column;
    }
    .sidebar {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 14vh;
        width: 100vw;
        background-color: #d1ecd1;
        align-items: center;
        z-index: 999;
    }
    .main .sidebar img {
        width: 17vw;
        margin: 2vh 70vw 0 0;
    }
    .main .sidebar ul {
        display: none;
    }
    .burger-mnu {
        display: flex;
    }
    .mainbar {
        width: 100%;
        align-items: center;
    }
    .mainbar>* {
        position: absolute;
        top: 17vh;
        z-index: 1;
    }
    .mainbar .home-first-title {
        position: absolute;
        font-size: 7vw;
        right: 9vw;
        color: black;
        background-color: #d1ecd1;
        padding: 20px;
        height: 20vh;
    }
    .mainbar .home-second-title {
        top: 40vh;
        height: 30%;
    }
    .mainbar .home-second-title h1 {
        font-size: 10vw;
        color: #000;
        background-color: #d1ecd1;
        width: 27vw;
        /* height: 33vh; */
        margin: 0;
        padding: 10vh 3vw 15vh 4vw;
    }
}

@media only screen and (max-width: 992px) {
    .main {
        flex-direction: column;
    }
    .sidebar {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 14vh;
        width: 100vw;
        background-color: #d1ecd1;
        align-items: center;
    }
    .main .sidebar img {
        width: 17vw;
        margin: 2vh 70vw 0 0;
    }
    .main .sidebar ul {
        display: none;
    }
    .burger-mnu {
        display: flex;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .sidebar {
        height: 11vh;
    }
    .burger-mnu span {
        height: 1px;
        width: 50px;
        background-color: black;
        margin-top: 1vh;
    }
    .burger-mnu span:first-child {
        height: 4px;
        width: 50px;
    }
    .burger-mnu span:last-child {
        height: 4px;
        width: 50px;
    }
    .closeBurger span {
        width: 60px;
        height: 3px;
    }
    .closeBurger {
        bottom: 8vh;
    }
}